* {
    box-sizing: border-box;
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    border-spacing: 0;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
}

html {
    background: linear-gradient( #85cee9, #2c9bc0) fixed;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

body {
    margin: 0px;
    padding: 0 15px;
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 0;
}

.logo {
    display: flex;
    align-items: flex-start;
    width: 50%;
    max-width: 415px;
    min-width: 340px;
    margin: 0 auto;
    margin-top: 40px;
}

header {
    min-height: 180px;
}

main {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    max-width: 960px;
    min-height: 500px;
    margin: 0 auto;
    margin-top: -75px;
    background-image: url('./assets/bob_image.png');
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 28%;
    background-color: #f1ebc9;
    border: 2px solid black;
    border-radius: 5px;
    padding: 50px 20px 20px 20px;
    box-shadow: -3px 5px 0px #00000041;
}

.startButton {
    background: none;
    border: none;
    white-space: normal;
    color: white;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 2.3em;
    text-align: center;
    margin: auto;
    width: 100%;
    cursor: pointer;
}

.startButton:hover,
.restartButton:hover {
    color: #efdf47;
}

.restartButton {
    background: none;
    border: none;
    white-space: normal;
    color: white;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 1.2em;
    text-align: center;
    margin: auto;
    width: 100%;
    cursor: pointer;
}

.questionBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: radial-gradient(#989da3, #767A7F);
    border: 12px solid black;
    outline: 8px solid #B8524D;
    outline-offset: -10px;
    margin: 5px auto;
    max-width: 400px;
    padding: 20px;
    min-height: 340px;
    width: 100%;
    box-shadow: inset 0px 2px 0px #1b1b1ba6, 0px 3px 1px #1b1b1bd0;
}

.question {
    color: white;
    font-family: 'Gloria Hallelujah', cursive;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    font-size: 1.4em;
}

.questionCount {
    color: white;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 1.2em;
    text-align: center;
    margin: -5px auto 5px auto;
    width: 100%;
}

.answerBox {
    display: flex;
    align-content: right;
    justify-content: center;
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: 500;
    margin: 15px auto 5px auto;
    width: 100%;
    max-width: 400px;
}

.answerBox li input {
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 1.3em;
    font-weight: 500;
    background: white;
    color: black;
    border: 2px solid black;
    border-radius: 3px;
    margin-bottom: 15px;
    padding: 5px;
    box-shadow: -3px 5px 0px #00000041;
    cursor: pointer;
}

.answerBox li input:hover,
.answerBox li input:focus {
    transform: scale(1.05);
}

.answerBox li input:active {
    box-shadow: inset -3px 5px 0px #00000041;
    background-color: lightgrey;
}

.answerBox li input.clicked {
    box-shadow: inset -3px 5px 0px #00000041;
    background-color: lightgrey;
}

.answerBox li input.clicked.correct {
    box-shadow: inset -3px 5px 0px #00000041;
    background-color: lightgreen;
}

.answerBox li input.clicked.incorrect {
    box-shadow: inset -3px 5px 0px #00000041;
    background-color: red;
}

.answerBox .submit {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 1.3em;
    font-weight: 500;
    background: white;
    color: black;
    border: 2px solid black;
    border-radius: 3px;
    margin-top: 25px;
    margin-left: auto;
    padding: 5px;
    box-shadow: -3px 5px 0px #00000041;
    cursor: pointer;
    width: 25%;
}

.answerBox .submit:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 10px 1px #85cee9, -3px 5px 0px #00000041;
}

.score {
    position: relative;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: 600;
    background: #f0edda;
    color: black;
    border: 2px solid black;
    border-radius: 3px;
    margin-top: 12px;
    padding: 3px;
    min-height: 56px;
    max-height: 56px;
    box-shadow: inset -3px 5px 0px #00000041;
    width: 67%;
}

.hidden {
    display: none;
}